<!-- Login.html -->

{% extends "base.html" %}

{% block body_class %}single-dark-background{% endblock %}

{% set limited_nav = True %}

{% block content %}
    <!-- Sign In Box -->

    <!-- REVIEW: Need to figure out how to align the white box in the center vertically -->
    <div class="container d-flex justify-content-center">
        <div class="bg-white w-50 rounded">
            <div class="container">
                <div class="text-center">

                        <!-- TODO: Fix form action -->
                    <form action="#hello">
                        <div class="m-3"><p class="text-dark fw-medium fs-2">Sign In</p></div>
                        <div class="mb-3 input-group">
                            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                            <input type="email" class="form-control" id="email_input_form" placeholder="Email" required autofocus>
                        </div>
                        <div class="mb-3 input-group">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="m-3">
                            <!-- TODO: Button should make post to login route -->
                            <button class="btn btn-dark col-12" type="submit">Sign In</a>
                        </div>
                    </form>

                    <!-- TODO: Button should redirect to create account page -->
                    <!-- REVIEW: Should link color be changed since yellow isn't super visibile? -->
                    <p class="text-dark">Don't have an account? <a href="{{ url_for('show_create_account') }}" class="link-warning">Create Account</a></p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}